name: "Lint"

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore: &paths
      - ".gitattributes"
      - ".gitignore"
  pull_request:
    branches: [master]
    paths-ignore: *paths

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    if: ${{ !contains(github.event.head_commit.message, '#nolint') }}
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: "prettier"
        if: ${{ !cancelled() }}
        run: |
          echo "::group::Install"
          npm install prettier
          echo "::endgroup::"
          npx prettier --check .

      - name: "yamllint"
        if: ${{ !cancelled() }}
        env:
          CONFIG: .github/yamllint.yaml
        run: |
          echo "::group::List Files"
          yamllint -c "${{ env.CONFIG }}" --list-files .
          echo "::endgroup::"
          yamllint -c "${{ env.CONFIG }}" .

      - name: "actionlint"
        if: ${{ !cancelled() }}
        uses: cssnr/actionlint-action@v1

      - name: "hadolint"
        if: ${{ !cancelled() }}
        uses: hadolint/hadolint-action@v3.1.0
        with:
          recursive: true
          ignore: DL3013,DL3018
